pandas
numpy
matplotlib
seaborn
scikit-learn
scipy

selenium
beautifulsoup4
requests

nltk
textblob
spacy

sqlalchemy
mysql-connector-python

streamlit

python-dotenv
google-api-python-client
openpyxl